@blue: #5096E4;
@orange: #F6B53B;
@black: #555;
@grey: #777;
@lightgrey: #b9b9b9;
@light: #dbdbdb;
@white: #FFF;

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	color: @white;
	background: @blue;
	text-align: center;
	min-height: 100px;
	margin: 0 0 35px 0;
	padding: 150px 0 0 0;

	h1 {
		font-family: 'museo-slab', serif;
		font-size: 60;
		font-weight: 900;
		margin: 0;
		padding: 0;
	}

	h2 {
		color: @black;
		font-family: 'museo', sans-serif;
		font-size: 36;
		font-weight: 100;
		margin: 0;
		padding: 15px 0 150px 0;
	}

	nav {
		background: @blue;
		position: absolute;
		width: 100%;
		padding: 5px;
	}

	nav.fixed {
		position: fixed;
		width: 100%;
		margin: 0;
		top: 0;
		z-index: 100;
	}

	ul {
		list-style: none;
		font-family: 'museo-sans', sans-serif;
		font-weight: 100;
		text-transform: uppercase;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			padding: 0 15px;

			a {
				color: @white;
				line-height: 25px;
			}

			a:hover {
				color: @black;
				text-decoration: none;
			}
		}
	}
}

section {
	color: @grey;
	border-bottom: 1px solid @light;
	padding: 25px 0;

	&:nth-child(2n-1) {
		background: url('../images/grain_bg.png');
	}

	.wrapper {
		width: 960px;
		margin: 0 auto;
		padding: 25px 0;
	}

	h1 {
		color: @black;
		font-family: 'museo', serif;
		font-size: 48px;
		font-weight: 100;
	}

	h2 {
		color: @blue;
		font-family: 'museo-sans', sans-serif;
		font-size: 24px;
		font-weight: 100;
	}

	h3 {
		color: @grey;
		font-family: 'museo-slab', sans-serif;
		font-size: 24px;
		font-weight: 100;
		text-transform: uppercase;
	}

	h4 {
		color: @lightgrey;
		font-family: 'museo-slab', sans-serif;
		font-size: 24px;
		font-weight: 100;
	}

	p {
		font-family: 'museo-sans', sans-serif;
		font-size: 18px;
		font-weight: 100;
		margin: 20px 0;
		padding: 0;
	}

	.left {
		float: left;
		width: 450px;
		padding: 15px 0;
	}

	.right {
		float: right;
		width: 450px;
		padding: 15px 0;
	}

	#chart_titles {
		position: absolute;
		top: 0;

		h6 {
			color: @white;
			font-family: 'museo-slab', sans-serif;
			position: absolute;
			font-size: 18px;
			font-weight: 100;
			width: 150px;
			text-align: center;
		}

		h6:nth-child(1) {
			.rotate(40deg);
			top: 145px;
			left: 220px;
		}

		h6:nth-child(2) {
			.rotate(130deg);
			top: 320px;
			left: 245px;
		}

		h6:nth-child(3) {
			.rotate(-130deg);
			top: 320px;
			left: 55px;
		}

		h6:nth-child(4) {
			.rotate(-40deg);
			top: 145px;
			left: 80px;
		}

		.rotate(@deg) {
			-webkit-transform: rotate(@deg);
			-moz-transform: rotate(@deg);
			-ms-transform: rotate(@deg);
			-o-transform: rotate(@deg);
		}
	}

	.highlights {
		background: @light;
		color: @grey;
		text-align: center;
		position: relative;
		margin-top: 25px;
		padding: 15px 0;

		.sub-highlight {
			float: left;
			display: inline-block;
			width: 320px;

			span {
				font-size: 48px;
				padding: 15px;
			}
		}

		/* Kudos to http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	top: -75px;
		// 	left: 400px;
		// 	border-width: 75px 0 0 150px;
		// 	border-style: solid;
		// 	border-color: transparent @light;
		// }

		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	top: -75px;
		// 	left: 400px;
		// 	border-width: 75px 0 0 35px;
		// 	border-style: solid;
		// 	border-color: transparent @white;
		// }
	}

	ul.chart {
		border-right: 1px solid @black;
		list-style: none;
		float: left;
		font-family: 'museo-sans', sans-serif;
		font-weight: 100;
		font-size: 12px;
		line-height: 50px;
		text-align: right;
		text-transform: uppercase;
		width: 100px;
		margin: 0;
		padding: 0 10px 0 0;
	}

	.bar-graph {
		float: left;
		width: 350px;

		div {
			background: @blue;
			float: left;
			height: 25px;
			width: 100%;
			margin: 12px;
		}
	}

	.employment {
		text-align: center;

		img {
			border: none;
			outline: none;
			display: block;
			margin: 0 auto;
			padding: 25px 0;
		}
	}
}

.clearfix {
	clear: both;
}

.relative {
	position: relative;
}

.padded-content {
	padding: 25px 0;
}
